<div class="row">
  <div class="col-lg-12">

    <h1>{{title}}</h1>
  </div>
  </div>

  <form [formGroup]="clientForm" (ngSubmit)="submitForm()">
    <div class="row">
      <div class="col-md-12">
        <button
          type="submit"
          class="btn btn-success"
          >Save</button>
        <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
      </div>
    </div>
    <div class="row">
      <div class='col-lg-8 col-lg-offset-2'><hr></div>
    </div>
    <div class="row">



        <div class="row">
          <div class="col-xs-4">
            <div class="form-group">
            <label>Name </label>
            <input type="hidden" id="id" formControlName="id" />
            <input formControlName="clientName" id="clientName"  />
            </div>
          </div>
          <div class="col-xs-4">
            <div class="form-group">
            <label>description </label>
            <input formControlName="description" id="description" />
            </div>
          </div>
          <button type="button" class="btn btn-success" (click)="onAddInvestor()">Add Investor</button>
        </div>





    </div>
    <div class="row">
      <div class='col-lg-8 col-lg-offset-2'><hr></div>
    </div>
    <div formArrayName="investors">
      <div class="investors" *ngFor="let investor of clientForm.get('investors')['controls'];
        let investorIndex = index" [formGroupName]="investorIndex">
        <div class="row">
          <div class="col-xs-3">
            <div class="form-group">
            <input id="iid"   formControlName="id" type="hidden"/>
            <label>investor Name</label>
            <input formControlName="name" id="iname"/>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="form-group">
            <label> investor Email </label>
            <input formControlName="email" id="email"/>
            </div>
          </div>
          <div class="col-xs-3">
            <button (click)="onDeleteInvestor(investorIndex)" class="btn btn-danger">x</button>

          </div>
          <div class="col-xs-3">
            <button type="button" class="btn btn-success" (click)="onAddFund(investor)">Add Fund</button>
          </div>
        </div>
        <div formArrayName="funds">
          <div class="funds" *ngFor="
            let fund of investor.get('funds')['controls'];
            let fundIndex = index
          " [formGroupName]="fundIndex">
            <span><input id="fid"  type="hidden" formControlName="id" /></span>
            <label>Fund Name <input id="fname" formControlName="name" />
              <button (click)="onDeleteFund(investor, fundIndex)"class="btn btn-danger">x</button></label>

          </div>
        </div>
        <div class="row">
          <div class='col-lg-8 col-lg-offset-2'><hr></div>
        </div>
      </div>
    </div>
  </form>
